<html>

<head>
<title>Bottom</title>
<link rel = "stylesheet" type = "text/css" href = "styles.css" />

</head>


<div class = "footer">
  <div class = "inner-footer">
    <div class = "logo-container">
    <h3>DG-E <span>Data Integration</span></h3>
    </div>
    <ul class = "f-info">
        <a href="https://bitbucket.ecb.de/projects/DGEEDC/repos/getecbdata.r/browse"><li>getECBData </li></a>
        <a href="https://bitbucket.ecb.de/projects/DGEEDC/repos/ecbgraph.r/browse"><li>ECBgraphs </li></a>
        <a href="mailto:DGE-DataIntegration@ecb.europa.eu; Colm.Bates@ecb.europa.eu; Virginia.Nicodemi@ecb.europa.eu; Mats_Jakob.Nordeman@ecb.europa.eu"><li>Contact </li></a>
    </ul>




  </div>
</div>

</html>
